@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap");
* {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url("/img/first-viewport.png") no-repeat center/cover;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 45px 230px 0 230px;
}
header .logo {
  font-family: "Myriad Pro", sans-serif;
  font-size: 24px;
  padding-top: -4px;
}

.navigate-panel {
  display: flex;
  gap: 35px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
}

.welcome-phrase {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  align-items: center;
}
.welcome-phrase h1 {
  font-size: 48px;
  line-height: 24px;
  text-transform: uppercase;
}
.welcome-phrase p {
  font-size: 20px;
  font-family: "Myriad Pro", sans-serif;
  text-align: center;
  line-height: 24px;
}
.welcome-phrase button {
  width: 181px;
  height: 51px;
  margin-top: 27px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #ffffff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  font-family: "Myriad Pro", sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 230px;
  color: #555555;
  font-weight: 400;
}
section h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
section .section-description {
  font-weight: 400;
  line-height: 24px;
}

.services-info {
  display: flex;
  gap: 45px;
  margin-top: 60px;
  padding: 0;
}
.services-info li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 345px;
  text-align: center;
}
.services-info h3 {
  text-transform: uppercase;
}

.about-us {
  background-color: #f8f8f8;
}
.about-us .text-content {
  display: flex;
  gap: 32px;
  margin: 71px 0 63px 0;
  text-align: justify;
}
.about-us .slider {
  display: flex;
  gap: 20px;
}

.latest-works .button-panel {
  display: flex;
  gap: 30px;
}
.latest-works button {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.latest-works button:active {
  color: #c0301c;
}

.illustration-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.illustration-container .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 320px;
  position: relative;
  background-image: url("/img/gallery1.png");
  color: #ffffff;
  z-index: 1;
}
.illustration-container .content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(192, 48, 28, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}
.illustration-container .content:hover::after {
  opacity: 1;
}
.illustration-container .content span, .illustration-container .content p, .illustration-container .content button {
  display: none;
}
.illustration-container .content span {
  font-size: 18px;
}
.illustration-container .content p {
  font-size: 12px;
}
.illustration-container .content button {
  width: 100px;
  height: 38px;
  letter-spacing: 1px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(192, 48, 28, 0.6);
  text-transform: uppercase;
  background-color: #ffffff;
}
.illustration-container .content:hover {
  background-color: #c0301c;
}
.illustration-container .content:hover span, .illustration-container .content:hover p, .illustration-container .content:hover button {
  display: block;
  z-index: 100;
}

.service-advertising {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 370px;
  background-image: url("/img/ad.png");
  background-position: center;
  position: relative;
  z-index: 1;
  color: #ffffff;
}
.service-advertising::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(192, 48, 28, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}
.service-advertising:hover::after {
  opacity: 1;
}
.service-advertising:hover {
  background-color: #c0301c;
}
.service-advertising h2, .service-advertising button {
  display: none;
}
.service-advertising h2 {
  text-align: center;
  font-size: 30px;
  line-height: 44px;
  font-family: "Roboto Slab", serif;
  margin-bottom: 50px;
}
.service-advertising button {
  width: 181px;
  height: 51px;
  background-color: transparent;
  border-radius: 2px;
  border: 2px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  font-family: "Roboto Slab", serif;
}
.service-advertising:hover h2, .service-advertising:hover button {
  display: block;
  z-index: 100;
}

/*# sourceMappingURL=styles.css.map */
