@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

* {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffff;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.welcome {
  display: flex;
  flex-direction: column;
  //align-items: center;
  height: 100vh;
  background: url("/img/first-viewport.png") no-repeat center/cover;
  color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 45px 230px 0 230px;

  .logo {
    font-family: "Myriad Pro", sans-serif;
    font-size: 24px;
    padding-top: -4px;
  }
}

.navigate-panel {
  display: flex;
  gap: 35px;
  font-family: 'Myriad Pro', sans-serif;
  font-weight: 400;
}

.welcome-phrase {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  margin: auto 0;
  align-items: center;

  h1 {
    font-size: 48px;
    line-height: 24px;
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
    font-family: "Myriad Pro", sans-serif;
    text-align: center;
    line-height: 24px;
  }

  button {
    width: 181px;
    height: 51px;
    margin-top: 27px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 2px;
    border: 2px solid #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    font-family: "Myriad Pro", sans-serif;
  }
}

//SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION
//SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION
//SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION
//SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION
//SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION SECTION

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 230px;
  color: #555555;
  font-weight: 400;
  //font-family: 'Roboto Slab', serif;

  h2 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }

  .section-description {
    font-weight: 400;
    line-height: 24px;
  }
}

.services-info {
  display: flex;
  gap: 45px;
  margin-top: 60px;
  padding: 0;

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 345px;
    text-align: center;
  }

  h3 {
    text-transform: uppercase;
  }
}

.about-us {
  background-color: #f8f8f8;

  .text-content {
    display: flex;
    gap: 32px;
    margin: 71px 0 63px 0;
    text-align: justify;
  }

  .slider {
    display: flex;
    gap: 20px;
  }
}

.latest-works {
  .button-panel {
    display: flex;
    gap: 30px;
  }

  button {
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    &:active {
      color: #c0301c;
    }
  }
}

.illustration-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;

  .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 360px;
    height: 320px;
    position: relative;
    background-image: url("/img/gallery1.png");
    color: #ffffff;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(192, 48, 28, 0.6);
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: -1;
    }

    &:hover::after {
      opacity: 1;
    }

    span, p, button {
      display: none;
    }

    span {
      font-size: 18px;
    }

    p {
      font-size: 12px;
    }

    button {
      width: 100px;
      height: 38px;
      letter-spacing: 1px;
      line-height: 24px;
      font-weight: 400;
      color: rgba(192, 48, 28, 0.6);
      text-transform: uppercase;
      background-color: #ffffff;
    }

    &:hover {
      background-color: #c0301c;
    }

    &:hover span,
    &:hover p,
    &:hover button {
      display: block;
      z-index: 100;
    }
  }
}